[user]
	email = knx@digitalheads.pl
	name = knx
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[core]
	editor = nvim
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[push]
	default = simple
