[user]
	email = knx@digitalheads.pl
	name = knx
	signingkey = D4C03988A02BA8AF
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[core]
	editor = nvim
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[push]
	default = simple
[alias]
    fix = "!f() { nvim -p `git diff --name-only`; }; f"
[commit]
	gpgsign = true
[gpg]
	program = gpg
[color]
	ui = true
[pull]
	rebase = false
[url "ssh://git@"]
	insteadOf = https://
